<div id="background-image" style="background: url(https://c1.staticflickr.com/1/251/526501990_9e82d43942_b.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;"></div> 
<div id="background-overlay"></div>

<div class="main-content">
  <div class="container">
    <%= form_tag password_resets_path, class: "form-signin", style: "margin-top:80px;", method: :post do %>
      <h3 class="form-signin-heading">Correo Electr&oacute;nico</h3>
      <%= email_field_tag :email, nil, class: "form-control", placeholder: 'Correo Electrónico' %>
      <%= submit_tag 'Restaurar', class: 'btn btn-lg btn-primary btn-block' %>
      <p>En segundos recibirás un mensaje al correo que ingresaste con un link para reestablecer la contraseña.</p>
    <% end %> 
  </div>
</div>