<div class="col-lg-12">
  <div class="bs-component">
    <div class="jumbotron">

      <p>You are already almost a user</p> 

      <p>
        Para terminar el proceso de registro, por favor, precione click en el siguiente link : 
      </p>

      <p><%= link_to @url, @url %></p>

      <p>Muchas gracias de parte del equipo de diseño de software...</p>

    </div>
  </div>
</div>