<div class="col-lg-8">
  <div class="bs-component">
    <div class="jumbotron">

      <p>Reset password your account</p> 

      <p>
        <%= @user.email %>, has solicitado resetear tu contraseña, para completar el proceso sigue el siguiente enlace:
      </p>

      <p><%= link_to @url, @url %></p>

      <p>Gracias de parte del equipo de diseño de software...</p>

    </div>
  </div>
</div>