<div id="background-image" style="background: url(http://webdgallery.com/wp-content/uploads/2014/07/slider_70640905-e1390422140138.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;background-attachment: fixed;"></div> 
<div id="background-overlay"></div>

<center><p> CONT </p></center>
