<div id="background-image" style="background: url(http://p1.pichost.me/640/64/1889210.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;"></div> 
<div id="background-overlay"></div>



<div class="container" style="position:relative;">
  <h1 id="results-h">Bienvenido a nuestro nuevo servicio de compra y venta de libros</h1>
</div>

<div class="line"></div>
<div class='container'>
  <div class="info-page"> 
    <div class='row'>
      <ul><h3>Si eres Visitante</h3>
        <div class="container">
          <h4><li>Puedes buscar libros en la pagina principal</li></h4>
          <h4><li>Puedes ver libros</li></h4>
          <h4><li>Puedes ver usuarios</li></h4>
        </div>
      </ul>
      <ul><h3>Si eres Usuario</h3>
        <div class="container">
          <h4><li>Puedes buscar libros en la pagina principal</li></h4>
          <h4><li>Puedes buscar libros con mas detalle en tu dashboard</li></h4>
          <h4><li>Puedes crear libros</li></h4>
          <h4><li>Puedes editar libros</li></h4>
          <h4><li>Puedes eliminar libros</li></h4>
          <h4><li>Puedes ver libros</li></h4>
          <h4><li>Puedes descargar libros</li></h4>
          <h4><li>Puedes ver usuarios</li></h4>
        </div>
      </ul>
    </div>
  </div>
</div>