<div id="background-image" style="background: url(http://p1.pichost.me/640/64/1889210.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;"></div> 
<div id="background-overlay"></div>

<center><p> Bienvenido a nuestro nuevo servicio de compra y venta de libros </p></center>

<h5></h5>
<ul>Si eres Visitante
  <li>Puedes buscar libros en la pagina principal</li>
  <li>Puedes ver libros</li>
  <li>Puedes ver usuarios</li>
</ul>
<ul>Si eres Usuario
  <li>Puedes buscar libros en la pagina principal</li>
  <li>Puedes buscar libros con mas detalle en tu dashboard</li>
  <li>Puedes crear libros</li>
  <li>Puedes editar libros</li>
  <li>Puedes eliminar libros</li>
  <li>Puedes ver libros</li>
  <li>Puedes descargar libros</li>
  <li>Puedes ver usuarios</li>
</ul>