<div id="background-image" style="background: url(http://www.blue-agility.com/wp-content/uploads/2014/05/documentation.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;"></div> 
<div id="background-overlay"></div>

<center><p> DOC </p></center>
