<div id="background-image" style="background: url(http://eden.rutgers.edu/~emd156/555/images/21st%20cent%202.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;background-attachment: fixed;"></div> 
<div id="background-overlay"></div>

<%= render 'shared/alerts' %>

<div class="container home-content" style="position:relative;" >
    <h1>Libros piratas y caros, pero de buena calidad y que se dejan leer bien.</h1>
</div>
<div class="container" style="padding-top:10px;">
  <h1 id="results-h"><span class="glyphicon glyphicon-star" style="margin-top:3px;"></span> Libros más populares</h1>
  <hr class="featurette-divider" style="position:relative;padding-top:55px;">
</div>

<% if @books != [] %>
  <%= render 'show_results' %>
<% end %>