/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #1d1d1d !important;
  font-family: Arimo,Arial,Helvetica,"Lucida Grande",sans-serif;
  padding-top: 50px;
}

*{
  z-index: 8;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border:1px dashed white;*/
}

form label{
  color:white;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,.4);
}

form p{
 margin-top: 10px;
 color:white;
 text-align: justify;
}

.container{
  position: relative;
}

#background-image {
  position: absolute;
  background-size: cover; 
  -webkit-background-size: cover;
  -moz-background-size: cover; 
  -o-background-size: cover;
  left: 0;
  right: 0;
  z-index: 6;
  display: block;
  up:0;
  width: 100%;
  height: 800px;
  background-attachment: fixed;
}

#background-overlay {
  position:absolute;
  left: 0;
  right: 0;
  up: 0;
  z-index: 6;
  width: 100%;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(29,29,29,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(29,29,29,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(29,29,29,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(29,29,29,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(29,29,29,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(29,29,29,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1d1d1d',GradientType=0 ); /* IE6-9 */
  height: 800px;
}

.home-content h1 {
  font-size: 44px;
  font-weight: 700;
  text-shadow: 0 2px 2px rgba(0,0,0,.4);
  margin-bottom: 35px;
  padding-top: 70px;
  display: block;
  color:white;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align:center;
}

.home-content p {
  font-size: 1.35em;
  color: #ccc;
  margin: 0 auto;
  line-height: 21px;
  padding-bottom: 50px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align:center;
}

.white{
  color: #fff;
}

.term{
  margin-top: 8%;
  font-size: 1.3em;
  font-weight: 700;
  color: #edede8;
}

.container-fluid .container *{
}

@media (min-width: 300px){
  .container-fluid .container {width:100%;}
}

@media (min-width: 992px){

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1000px) {
  .container-fluid .container {width:50%;}
}

@media (min-width: 768px){
}

#filters{
  margin-bottom: 3%;
}

#filters div p{
  color:#edede8;
  margin-bottom: 0px;
}

#filters div select{
  width: 130px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  box-sizing: border-box;
  height: 35px;
  color: #555;
  font-size: .9em;
  font-weight: normal;
  overflow: hidden;
  border: 0;
  font-family: inherit;
  line-height: inherit;
  text-transform: none;
  font: inherit;
  align-items:center;
  white-space: pre;
  -webkit-rtl-ordering:logical;
  -moz-rtl-ordering:logical;
  cursor:default;
  text-rendering:auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow:none;
  display: inline-block;
  text-align: center;
}


#results-h{
  font-size: 2em;
  font-weight: 400;
  text-shadow: 0 2px 2px rgba(0,0,0,.4);
  font-family: Segoe UI;
  margin-bottom: 35px;
  display: block;
  color:white;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align:center;
  vertical-align: middle;
  padding-bottom: 3px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.book-result{
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.link-libro{
  max-width: 180px;
  display: inline-block;
  max-width: 220px;
  border: 5px solid #fff;
  transition: border .15s ease-in-out;
  -moz-transition: border .15s ease-in-out;
  -webkit-transition: border .15s ease-in-out;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-size: 24px;
  text-decoration: none !important;
  background-color: transparent;
}

.link-libro:hover{
  border: 5px solid #2E6DFF;
}

@media (min-width: 992px){
  .link-libro {
    width: 180px;
    height: 265px;
  }
}

figure {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0;
}

figure img {
  width: 100%;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}

img{
  vertical-align: middle;
}

figcaption {
  color: white;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  padding-top: 20px;
}

span.icon-star {
  position: relative;
  width: 100%;
  color: #2E6DFF;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

figcaption span.icon-star {
  position: relative;
  width: 100%;
  color: #2E6DFF;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

figure figcaption .rating {
  margin-bottom: 20px;
}
figure figcaption h4 {
  font-size: 25px;
  position: relative;
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-weight: bold;
  color: #fff;
}

.book-result-bottom{
  max-width: 180px;
  margin: 0 auto;
  padding: 0 5px;
  max-width: 220px;
  text-align: left;
}

.book-title {
  font-size: 1em;
}

.book-title, .book-title:focus {
  color: #fff;
  font-weight: 700;
  display: block;
  transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -webkit-transition: color .15s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none !important;
}

.book-year {
  font-size: .95em;
  color: #919191;
}

.book-tags {
  overflow: hidden;
}

@media (min-width: 992px){
  .book-tags a {
    margin-top: 10px;
    margin-right: 3px;
    font-size: .85em;
    padding: 5px 7px;
  }
}

.book-tags a {
  padding: 1px;
  background: #111;
  display: inline-block;
  color: #575656;
  font-weight: 400;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -webkit-transition: color .15s ease-in-out;
}

.result-container{
  width: 180px;
  max-width: 180px;
  margin: 0 auto;
}

#book-info *{
  color: white;
}

#book-info{
  text-align: left;
  float: left;
}

#book-poster *{
  position: relative;
  margin:auto;
}
#book-poster img{
  margin:auto;
  margin-bottom: 5px;
}

#book-poster button{
  width: 100%;
  max-width: 240px;
  margin-left: 10px;
}

#book-info h1{
  margin-top: -2px;
  font-size: 2.5em;
  margin-bottom: 12px;
  line-height: 42px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,.4);
  font-family: Arimo,Arial,Helvetica,"Lucida Grande",sans-serif;
}

#book-info p{
  margin-top: 20px;
}

#book-info h2 {
  line-height: 24px;
  font-size: 1.25em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,.4);
  margin: 0;
}

#synopsis h3 {
  font-size: 1.35em;
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0,0,0,.4);
  text-align: left;
  margin-bottom: 10px;
  color: #fff;
}

.bottom-info{
  margin-top: 25px;
}

#book-info .rating-row {
  margin-bottom: 5px;
}

@media (max-width: 768px){
  #book-info .rating-row {
    margin-bottom: 5px; margin-left: 17%;
  }
  #book-info p{
    margin-left: 17%;
  }
}

#book-info span{
  font-weight: 650;
  font-size: 1.15em;
}

.rating-row .icon{
  width: 75px;
  height: 25px;
  vertical-align: middle;
}

.blue{
  color: #337ab7;
}

.rating-row .text{
  vertical-align: middle;
}

#synopsis p {
  color: #919191;
  line-height: 24px;
  text-align: justify;
  text-justify: inter-word;
  display: block;
}

#book-info p a{
  background: rgba(27,27,35,.4);
  padding: 5px 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid rgba(255,255,255,.16);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-size: .8em;
  color: #fff;
  transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -webkit-transition: color .15s ease-in-out;
}
#mobile-book-info{
  margin-left: 17px;
  color: white;
}

#mobile-book-info h1 {
  font-size: 1.3em;
  margin-bottom: 10px !important;
  line-height: 24px;
}

#mobile-book-info h2 {
  line-height: 10px;
  font-size: 1em;
  margin-bottom: 15px !important;
}

#mobile-book-info h1, #mobile-book-info h2 {
  font-weight: bold;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,.4);
  margin: 0;
}

/*CSS for profile page*/

.info-page {
 text-align: left;
 margin-bottom: 50px;
 margin-top: 25px;
}

@media (min-width: 992px){
 .col-md-16 {
 width: 80%;
 }

 .info-page h1 {
 font-size: 2.5em;
 line-height: 42px;
 }
}

.info-page h1 {
 font-weight: bold;
 color: #fff;
 font-size: 2.5em;
 text-shadow: 0 2px 2px rgba(0,0,0,.4);
 margin: 0;
}

.info-page button {
 margin-top: 10px;
 width: 100%;
}

.info-page .line {
 margin: 30px 0;
}

.line {
 border-bottom: 1px solid #fff;
}

.col-xs-20{
 width: 100%;
}

.info-page h2 {
 font-size: 1.7em;
 margin-bottom: 35px;
 margin-left: 0;
 margin-top: 10px;
}

@media (max-width: 991px){
 .info-page h1 {
 text-align: center;
 }
}

@media (max-width: 991px){
 .info-page h1 {
 font-size: 1.6em;
 line-height: 20px;
 }
}

@media (max-width: 767px){
 .info-page .profile-stats .profile-container {
 display: table;
 margin: 0 auto;
 }
}

.info-page .profile-stats p {
 margin-top: 10px;
}

.info-page label, #info-page p {
 color: #fff;
 font-size: .95em;
 margin-bottom: 0;
}

.profile-container p{
 color: #fff;
}

#user-biography {
 line-height: 24px;
 text-align: justify;
 text-justify: inter-word;
 display: block;
 color: #fff;
}

.info-page .profile-img {
 margin-top: 20px;
 max-height: 220px;
 vertical-align: middle;
}

.pull-right {
 float: right !important;
}

.img-responsive {
 display: block;
 max-width: 100%;
 height: auto;
}

.info-page .recent-downloads a {
 border: 4px solid #fff;
 margin-bottom: 20px;
 border-radius: 3px;
 float: left;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 transition: border .15s ease-in-out;
 -moz-transition: border .15s ease-in-out;
 -webkit-transition: border .15s ease-in-out;
}

.info-page .recent-downloads img {
 width: 92px;
 height: 138px;
 margin: 0 auto;
 vertical-align: middle;
}

@media(max-width: 991px){
 .info-page .recent-downloads img{
 margin:0 auto;
 }
}
/*END of CSS for profile page*/

.footer-distributed{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}